<%- include("partials/header.ejs") %>
<div class="txt-center-align">
    <div class="container-fluid">
        <h1 class="contact-title blue-color thicc">We can help!</h1>
        <h3 class="contact-tag-line light-blue-color thicc">We are currently available for freelancing</h3>
        <div class="contact-info thin">
            <h3>If you have a project in mind and want to get started</h3>
            <h3>we can help you. Get in touch!</h3>
        </div>
    </div>

    <button class="btn btn-primary btn-email"> <img class="img-email" src="images/mail.png" alt=""> Email Us</button>
    <br>
    <button class="btn btn-primary btn-whatsapp"> <img class="img-whatsapp" src="images/whatsapp.png" alt=""> Message</button>
</div>
<div class="space">

</div>
<%- include("partials/footer.ejs") %> 