
<%- include("partials/header.ejs") %> 
    <!-- sections 1 -->
    <div id="section-1">
        <div class="container-fluid">
            <h1>Blog Name</h1>
            <h3>Web Develpers</h3>
        </div>

        <div class="container-fluid">
            <div class="row">
                <img class="col-md-6" src="images/Group 5.png" alt="">
                <img class="col-md-6" src="images/Group 2.png" alt="">
            </div>
        </div>
    </div>

    <!-- section 2 -->
    <div id="section-2">
        <div class="container-fluid">
            <h1>Hi.</h1>
            <h3>We are web developers based in</h3>
            <h3>Bengaluru, India.</h3>
        </div>
    </div>

    <!-- section 3 -->
    <div id="section-3">
        <div class="container-fluid">
            <h1>What can we do?</h1>
            <div class="row">
                <div class="col-md-6">
                    <h3>Design what you want.</h3>
                    <h4>We like to keep it simple.</h4>
                    <h4>Our goal is to focus on converying</h4>
                    <h4>the message you want to send</h4>
                </div>

                <div class="col-md-6">
                    <img src="images/Group 7.png" alt="">
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <img src="images/Group 8.png" alt="">
                </div>
                <div class="col-md-6">
                    <h3>Design what you want.</h3>
                    <h4>We like to keep it simple.</h4>
                    <h4>Our goal is to focus on converying</h4>
                    <h4>the message you want to send</h4>
                </div>
            </div>
        </div>
    </div>
<%- include("partials/footer.ejs") %> 