
<%- include("partials/header.ejs") %> 
    <!-- sections 1 -->
    <div id="section-1">
        <div class="container-fluid">
            <h1 class=" title blue-color txt-center-align">Blog Name</h1>
            <!--  <h3 class=" job-title light-blue-color txt-center-align">Web Develpers</h3> -->
            <div class="tag-line light-blue-color">
                <h2 class="txt-center-align thicc">Too many lockdowns? Move your business online!</h2>
                <h2 class="txt-center-align thicc">We are here to help!</h2>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <img class="col-md-6 front-img-1 txt-align-center" src="images/Group 5.png" alt="">
                <img class="col-md-6 front-img-2 txt-align-center" src="images/Group 2.png" alt="">
            </div>
        </div>
    </div>

    <!-- section 2 -->
    <div id="section-2">
        <div class="container-fluid txt-center-align white-color">
            <h1 class="thicc">Hi.</h1>
            <h3 class="thin">
                We are web developers <br>
                based in Bangalore, India. We have a passion <br>
                for web design and love to create for <br>
                web and mobile devices.
            </h3>
        </div>
    </div>

    <!-- section 3 -->
    <div id="section-3">
        <div class="container-fluid">
            <h1 class="txt-center-align blue-color thicc">What can we do?</h1>
            <div class="div-section-1">
                <div class="row txt-center-align">
                    <div class="col-md-6 div-text-1">
                        <h3 class="blue-color thicc">Design what you want.</h3>
                        <h4 class="thin">We like to keep it simple.</h4>
                        <h4 class="thin">Our goal is to focus on converying</h4>
                        <h4 class="thin">the message you want to send</h4>
                    </div>

                    <div class="col-md-6">
                        <img class="smaller-img" src="images/Group 7.png" alt="">
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="div-section-2">
                <div class="row txt-center-align">
                    <div class="col-md-6">
                        <img class="smaller-img-2" src="images/Group 8.png" alt="">
                    </div>
                    <div class="col-md-6 div-text-2">
                        <h3 class="blue-color thicc">Develop what you want.</h3>
                        <h4 class="thin">We also develop, so we know how to</h4>
                        <h4 class="thin">create your website to run across devices</h4>
                        <h4 class="thin">using the latest technologies available.</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
<%- include("partials/footer.ejs") %> 

