<%- include("partials/header.ejs") %>

    <div class="container-fluid txt-center-align">
        <h1 class="blue-color title">Here's what we've been up to</h1>
        <div class="tag-line-work gray-color thicc">
            <h3>Here's few of our recent work</h3>
            <h3>for more of our work, visit our <a href="" class="thicc blue-color">BEHANCE</a> profile</h3>
        </div>
    </div>

    <div class="txt-center-align">
        <center><hr class="work-div blue-color"></center>
        <div class="container-fluid">
                <img class="smaller-img txt-center-align" src="images/image0.png" alt="">
            <h3 class="padding thicc blue-color">What we've been up to.</h3>
            <h3 class="gray-color thin">Here's few of our recent work</h3>
            <h3 class="gray-color thin">For more designs, visit our <a href="" class="thicc blue-color">BEHANCE</a> profile</h3>
            <button class="btn btn-view white-color">VIEW ON BEHANCE</button>
        </div>
    </div>

<%- include("partials/footer.ejs") %>