<%- include("partials/header.ejs") %>

    <div class="container-fluid">
        <h1>Here's what we've been up to</h1>
        <h3>Here's few of our recent work</h3>
        <h3>for more of our work, visit our behnace profile</h3>
    </div>

    <div class="container-fluid">
        <img src="images/bakery-homepage.png" alt="">
        <h1>Here's what we've been up to</h1>
        <h3>Here's few of our recent work</h3>
        <h3>for more of our work, visit our behnace profile</h3>
    </div>

<%- include("partials/footer.ejs") %>