body {
    background-color: #F3F3F3;;
}


footer{
    padding: 1%;
    background-color: #809BCE;
}


/* .navbar {
    background-image: url(navbar-bg.png);
    background-size: 1500px 60px;
    background-repeat: no-repeat;
} */

.thicc {
    font-family: "comic neue";
    font-weight: 700;
}
.thin {
    font-family: "comic Neue";
    font-weight: 300;
}

.navbar {
    background-color: #809BCE;
    padding-left: 4%;
    padding-right: 4%;
}
.blue-color {
    color: #809BCE;
}

.light-blue-color {
    color: #9CADCE;
}

.white-color {
    color: white;
}

.gray-color {
    color: #4F4F4F;
}

/* section-1 */
.title {
    margin-top: 5rem;
    font-family: "handlee";
    font-weight: 1000;
}

.job-title {
    padding: 1%;
}

.tag-line {
    padding-bottom: 6%;
    padding-top: 3%;
}

.front-img-1 {
    /* width: 40%; */
    /* height: 70%; */
}

.front-img-2 {
    width: 40%;
}
.div-text-1 {
    margin-top: 4%;
    padding-left: 200px;
}
.div-text-2 {
    margin-top: 3%;
    padding-right: 150px;
}
.div-section-1 {
    padding-top: 4%;
}
.div-section-2{
    padding-top: 9%;
}

/* section-2 */
#section-2 {
    background-color: #809BCE;
    padding: 10%;
}

.txt-center-align {
    text-align: center;
}

/* section-3 */
#section-3 {
    padding:4%
}
.smaller-img {
    width: 60%;
    height: 95%;
}
.smaller-img-2 {
    width: 70%;
    height: 100%;
}

/* contact page */
.btn-email {
    border: none;
    background-color:#809BCE;
    width: 150px;
    height: 45px;
}
.btn-whatsapp {
    border: none;
    background-color: #73D27F;
    width: 150px;
    height: 45px;
    margin-top: 1%;
    margin-bottom: 7%;
}
.img-email{
    height: 20px;
    padding-right: 8px;
}
.img-whatsapp {
    height: 25px;
    padding-right: 7px;
}
.contact-title {
    padding-top: 4%;
    padding-bottom: 2%;
}
.contact-tag-line {
    padding-bottom: 2%;
}
.contact-info {
    padding-bottom: 3%;
}

.space {
    height:30px;
}

/* work page */
.work-div {
    width: 60%;
    margin: 4%;
}

.btn-view {
    background-color: #809BCE;
    margin-top: 2%;
    margin-bottom: 4%;
    height: 3rem;
    width: 15rem;
}
.padding {
    padding-top: 4%;
    padding-bottom: 1%;
}
.tag-line-work {
    padding-bottom: 1%;
    padding-top: 1%;
}
